<h2>About Us</h2>
<p>Gazebo was begun in 2002 as an acceptance test harness.  Evidence of <br>
 this original focus is still found with the atc_ prefix in the names of<br>
 many of the bin directory scripts.  So I said to the duck, ...</p>